:root {
  font-size: 16px;
  --text-color: mediumslateblue;
  --hover-color: rgba(124, 104, 238, 0.6);
}

/* #root {
  height: 700px;
  background: rgba(255, 255, 255, 0.5);
  padding: 15px 30px;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  align-items: center;
} */

* {
  box-sizing: border-box;
}

body {
  margin-top: 1rem;
  min-height: 100vh;
  overflow-y: hidden;
  background-color: burlywood;
  display: flex;
  justify-content: center;
}

select > option:first-of-type {
  display: none;
}

select {
  border: none;
  border-bottom: 1px solid black;
  font-size: 1rem;
}

option {
  font-size: 0.7em;
}

.buttonsContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 254px;
  gap: 2rem;
}

.buttonsContainer > button {
  font-size: 1rem;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  background: lavender;
  transition: all 0.1s;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.buttonsContainer .activeBtn {
  color: rgb(245, 245, 255);
  background: #444444;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
  transform: translateY(3px);
}

.buttonsContainer > button:hover:not(.activeBtn) {
  background: rgb(205, 205, 228);
}

label {
  font-size: 1.3rem;
  display: block;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

input {
  margin-bottom: 1rem;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

input:focus {
  background: rgba(255, 255, 255, 0.6);
}

.inputContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.inputContainer > i {
  position: absolute;
  right: 5px;
  top: 5px;
  transition: all 0.15s;
  cursor: pointer;
}

.inputContainer > i:hover {
  opacity: 0.75;
}

.inputContainer > i:active {
  opacity: 0.5;
}

ul {
  background-color: lavender;
  max-width: 500px;
  height: 520px;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
}

li {
  box-sizing: inherit;
  margin-top: 8px;
  margin-bottom: 8px;
}

a {
  color: var(--text-color);
  text-decoration: none;
  width: 100%;
}

a:visited {
  color: var(--text-color);
}

a:hover {
  color: var(--hover-color);
}

a:active {
  color: var(--hover-color);
}

.paginationContainer {
  width: 191px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}

.paginationContainer > buttons {
  border-radius: 10px;
}

.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  color: white;
}

.footer a {
  color: rgb(117, 186, 255);
  text-decoration: underline;
}

.footer a:hover {
  color: rgb(100, 156, 211);
}

.footer p {
  margin-right: 5px;
}

@media screen and (max-width: 500px) {
  label {
    display: block;
    text-align: center;
  }

  .buttonsContainer {
    width: 191px;
    justify-content: space-between;
    gap: 0;
    padding-top: 30px;
  }

  .footer {
    margin: 0;
    flex-direction: column;
  }

  .footer > p {
    margin: 2px;
  }
}
